div.bar{
	background:#cbd0d6;
	padding-top: 10px;
	padding-left:10px;
}

div.content_screen{
	margin-top:15px;
	margin-left: 20px;
}

div #dialer{
	background:#cbd0d6;
	width:190px;
	padding: 5px 5px;
	display: inline-block;
}

div.numpad button{
	width: 60px;
	margin-top: 5px;
	border: 1px solid black;
}

div #cmd button{
	margin-top: 10px;
	width: 92px;
}

div.bar button{
	width:120px;
}

button.pure-button:focus{
	background: white;
}

button.pure-button:hover{
	background: white;
}