div.bar{
	padding-top: 10px;
	padding-left: 10px;
}

body{
	background: black;
	font-size: 150%;
}

div.content_screen{
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 50px;
	margin-right: 50px;
	color: white;
}

div #dialer{
	padding: 5px 5px;
	display: inline-block;
	border: 2px solid white;
}

div.numpad button{
	margin-top: 10px;
	width:30%
}

div #cmd button{
	margin-top: 10px;
}

button.pure-button{
	background:black;
	color: white;
	border: 2px solid white;
}

#value{
	text-align: right;
	color: white;
	background: black;
}

#list_form label{
	margin-top: 15px;
	color:white;
}

#list_form input{
	color : white;
	background: black;
	border: 2px solid white;
}

button.form{
	margin-top: 15px;
}

div.list{
	width: 480px;
}

div.list button{
	margin-top: 10px;
}

#option-bar{
	margin-top: 15px;
	margin-left: 15px;
}

a.pure-button{
	background:black;
	color: white;
	border: 2px solid white;
}
	
h2{
	color: white;
}

