div.bar{
	background:#cbd0d6;
	padding-top: 10px;
	padding-left: 10px;
}

div.content_screen{
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 50px;
	margin-right: 50px;
}

div #dialer{
	padding: 5px 5px;
	display: inline-block;
}

div.numpad button{
	width: 30%;
	margin-top: 10px;
}

div #cmd button{
	margin-top: 10px;
}

button.pure-button{
	background:#f0f0f0;
}

#value{
	text-align: right;
	background: white;
}

#list_form label{
	margin-top: 15px;
}

#list_form input{
	width: 250px;
}

button.form{
	margin-top: 15px;
}

div.list{
	width: 480px;
}

div.list button{
	margin-top: 10px;
}

#option-bar{
	margin-top: 15px;
	margin-left: 15px;
}